.header {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.header-nav-bar {
  display: flex;
}

.header-nav-bar .item {
  margin-right: 3rem;
  color: white;
}

.header-nav-bar .item:hover {
  margin-right: 3rem;
  color: yellow;
}

.logo {
  color: white;
}